# Relatório de Análise I

In [2]:
import pandas as pd

In [4]:
pd.read_csv("dados/aluguel.csv", sep=";").head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [5]:
dados_aluguel = pd.read_csv("dados/aluguel.csv", sep=";").head()

In [6]:
dados_aluguel

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [7]:
type(dados_aluguel)

pandas.core.frame.DataFrame

In [9]:
dados_aluguel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        5 non-null      object
 1   Bairro      5 non-null      object
 2   Quartos     5 non-null      int64
 3   Vagas       5 non-null      int64
 4   Suites      5 non-null      int64
 5   Area        5 non-null      int64
 6   Valor       5 non-null      float64
 7   Condominio  4 non-null      float64
 8   IPTU        3 non-null      float64
dtypes: float64(3), int64(4), object(2)
memory usage: 488.0+ bytes