Analise de Dados com Pandas

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("dados/db.csv", sep=';', index_col = 0)

In [3]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [4]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [5]:
dataset[0:3]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

In [6]:
pd.read_csv("dados/db.csv", sep=";", usecols=["Nome", "Ano"]).head()

               Nome   Ano
0     Jetta Variant  2003
1            Passat  1991
2          Crossfox  1990
3               DS5  2019
4  Aston Martin DB4  2006

In [7]:
dataset.loc["DS5"]

Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
Valor                                                       124549
Name: DS5, dtype: object

In [8]:
dataset.loc[["DS5", "Passat"]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [9]:
dataset.loc[["DS5", "Passat"], ["Motor","Valor"]]

                  Motor      Valor
Nome
DS5     Motor 2.4 Turbo  124549.07
Passat     Motor Diesel  106161.94

In [10]:
dataset.loc[["Jetta Variant","DS5", "Passat"], ["Motor","Valor"]]

                         Motor      Valor
Nome
Jetta Variant  Motor 4.0 Turbo   88078.64
DS5            Motor 2.4 Turbo  124549.07
Passat            Motor Diesel  106161.94

In [11]:
dataset.iloc[[3,10]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Ford Edge,Motor Diesel V6,2002,12859.0,False,"['Sensor crepuscular', 'Rodas de liga', 'Teto ...",71647.59

In [12]:
dataset.iloc[3:10, [2, 3,4, 5]]

,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,
DS5,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
Palio Weekend,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
A5,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
Série 3 Cabrio,77599.0,False,"['Controle de estabilidade', 'Sensor crepuscul...",112310.44
Dodge Jorney,99197.0,False,"['Vidros elétricos', 'Piloto automático', 'Tet...",120716.27
Carens,37978.0,False,"['Ar condicionado', 'Painel digital', 'Central...",76566.49

In [13]:
dataset.iloc[[3,10], [2, 3,4, 5]]

,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,
DS5,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Ford Edge,12859.0,False,"['Sensor crepuscular', 'Rodas de liga', 'Teto ...",71647.59

 Queries com DataFrame - Pandas

In [14]:
datasetCarros = pd.read_csv("dados/db.csv.", sep=";", index_col=0)

In [15]:
datasetCarros.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [16]:
datasetCarros.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [17]:
selectMotorTurbo = datasetCarros == 'Motor 2.4 Turbo'

In [18]:
selectMotorTurbo

                       Motor    Ano  Quilometragem  Zero_km  Acessórios  Valor
Nome
Jetta Variant          False  False          False    False       False  False
Passat                 False  False          False    False       False  False
Crossfox               False  False          False    False       False  False
DS5                     True  False          False    False       False  False
Aston Martin DB4        True  False          False    False       False  False
...                      ...    ...            ...      ...         ...    ...
Phantom 2013           False  False          False    False       False  False
Cadillac Ciel concept  False  False          False    False       False  False
Classe GLK             False  False          False    False       False  False
Aston Martin DB5       False  False          False    False       False  False
Macan                  False  False          False    False       False  False

[258 rows x 6 columns]

In [19]:
type(selectMotorTurbo)

pandas.core.frame.DataFrame

In [20]:
datasetCarros[selectMotorTurbo]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,NaN,NaN,NaN,NaN,NaN,NaN
Passat,NaN,NaN,NaN,NaN,NaN,NaN
Crossfox,NaN,NaN,NaN,NaN,NaN,NaN
DS5,Motor 2.4 Turbo,NaN,NaN,NaN,NaN,NaN
Aston Martin DB4,Motor 2.4 Turbo,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
Phantom 2013,NaN,NaN,NaN,NaN,NaN,NaN
Cadillac Ciel concept,NaN,NaN,NaN,NaN,NaN,NaN
Classe GLK,NaN,NaN,NaN,NaN,NaN,NaN
Aston Martin DB5,NaN,NaN,NaN,NaN,NaN,NaN
Macan,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
datasetCarros[(datasetCarros.Motor == "Motor 2.4 Turbo") & (datasetCarros.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Pajero TR4,Motor 2.4 Turbo,2019,NaN,True,"['Controle de tração', 'Bancos de couro', 'Câm...",51606.59
S60,Motor 2.4 Turbo,2019,NaN,True,"['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...",102609.54
Partner,Motor 2.4 Turbo,2019,NaN,True,"['Central multimídia', 'Controle de tração', '...",114531.74

In [22]:
(datasetCarros.Motor == "Motor 2.4 Turbo") & (datasetCarros.Zero_km == True)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Length: 258, dtype: bool

Usando método Query

In [23]:
datasetCarros.query("Motor == 'Motor 2.4 Turbo' and  Zero_km == True")

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Pajero TR4,Motor 2.4 Turbo,2019,NaN,True,"['Controle de tração', 'Bancos de couro', 'Câm...",51606.59
S60,Motor 2.4 Turbo,2019,NaN,True,"['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...",102609.54
Partner,Motor 2.4 Turbo,2019,NaN,True,"['Central multimídia', 'Controle de tração', '...",114531.74

Interando com DataFrame

In [24]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [28]:
# list(dataset.iterrows())
for index, row in dataset.iterrows():
    if(2021 - row['Ano'] != 0):
        dataset.loc[index, 'Km_media'] = row['Quilometragem'] /(2021 - row['Ano'])
    else:
        dataset.loc[index, 'Km_media']  = 0
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2467.222222
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,190.400000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1197.516129
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1717.133333
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,3929.285714
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,999.366667
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,2770.368421
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,307.400000
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1730.620690

##  Tratamento de Dados

In [29]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2467.222222
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,190.400000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1197.516129
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1717.133333

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       197 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 24.4+ KB

In [31]:
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [33]:
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,NaN
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,NaN
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,NaN
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,NaN
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,NaN
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,NaN
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,NaN
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,NaN
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,NaN

In [34]:
# Substituindo Valores
dataset.fillna(0, inplace=True)

In [35]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2467.222222
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,190.400000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1197.516129
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1717.133333
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,3929.285714
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,999.366667
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,2770.368421
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,307.400000
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1730.620690

In [36]:
dataset.query('Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0