# Citi Bike Trip Histories -  Citi Bike NYC

In [5]:
import  pandas as pd

In [13]:
# Precisa Converter em DataFrame
pd.read_csv('dados/202110-citibike-tripdata.csv',low_memory=False,  sep=',')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,353AEA9949A68D49,classic_bike,2021-10-16 12:27:00,2021-10-16 12:45:24,University Pl & E 14 St,5905.14,Franklin St & W Broadway,5430.08,40.734814,-73.992085,40.719116,-74.006667,casual
1,4E99F036F7FE3B62,classic_bike,2021-10-18 16:51:23,2021-10-18 17:19:29,Broadway & Roebling St,5125.07,Sands St Gate,4812.04,40.709248,-73.960631,40.699569,-73.979827,casual
2,2CE9D0504402418A,classic_bike,2021-10-05 13:31:27,2021-10-05 13:47:07,University Pl & E 14 St,5905.14,Franklin St & W Broadway,5430.08,40.734814,-73.992085,40.719116,-74.006667,casual
3,354BB2C25D2FE2DB,classic_bike,2021-10-15 08:28:43,2021-10-15 08:36:37,University Pl & E 14 St,5905.14,8 Ave & W 16 St,6072.11,40.734814,-73.992085,40.740983,-74.001702,casual
4,0211ADD9F91AC315,classic_bike,2021-10-10 00:25:16,2021-10-10 01:04:26,Metropolitan Ave & Meeker Ave,5300.05,Sands St Gate,4812.04,40.714133,-73.952344,40.699569,-73.979827,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069234,2105A371F0916AF6,classic_bike,2021-10-28 19:00:26,2021-10-28 19:03:54,6 Ave & Broome St,5610.09,Grand St & Greene St,5500.02,40.724310,-74.004730,40.721700,-74.002381,member
3069235,3EE01D46D6630901,classic_bike,2021-10-06 13:34:04,2021-10-06 13:35:28,6 Ave & Broome St,5610.09,Grand St & Greene St,5500.02,40.724310,-74.004730,40.721700,-74.002381,member
3069236,5CA072FFC3C97825,classic_bike,2021-10-27 05:48:47,2021-10-27 06:02:20,Carlton Ave & Park Ave,4732.04,Boerum Pl\t& Pacific St,4488.09,40.695807,-73.973556,40.688489,-73.991160,member
3069237,7CEB5F9904D96DFB,classic_bike,2021-10-12 21:10:01,2021-10-12 21:20:47,6 Ave & Broome St,5610.09,W 20 St & 10 Ave,6306.01,40.724310,-74.004730,40.745686,-74.005141,member
3069238,5F3820B36473D307,classic_bike,2021-10-21 14:42:16,2021-10-21 14:44:15,6 Ave & Broome St,5610.09,Grand St & Greene St,5500.02,40.724310,-74.004730,40.721700,-74.002381,member

In [90]:
type(pd)

module

In [15]:
dados = pd.read_csv('dados/202110-citibike-tripdata.csv', low_memory=False, sep=',').head(10)

In [16]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ["Tipos de Dados"])

In [91]:
type(dados)

pandas.core.frame.DataFrame

In [18]:
tipos_de_dados.columns.name = "VariÃ¡veis"

In [19]:
tipos_de_dados

VariÃ¡veis          Tipos de Dados
ride_id                    object
rideable_type              object
started_at                 object
ended_at                   object
start_station_name         object
start_station_id           object
end_station_name           object
end_station_id             object
start_lat                 float64
start_lng                 float64
end_lat                   float64
end_lng                   float64
member_casual              object

In [29]:
# EstaÃ§Ã£o Inicial
dados['start_station_name']

0          University Pl & E 14 St
1           Broadway & Roebling St
2          University Pl & E 14 St
3          University Pl & E 14 St
4    Metropolitan Ave & Meeker Ave
5    Metropolitan Ave & Meeker Ave
6          University Pl & E 14 St
7               E 14 St & Avenue B
8               E 14 St & Avenue B
9            Lafayette St & E 8 St
Name: start_station_name, dtype: object

                   EstaÃ§Ã£o Inicial
ride_id                     object
rideable_type               object
started_at                  object
ended_at                    object
start_station_name          object
start_station_id            object
end_station_name            object
end_station_id              object
start_lat                  float64
start_lng                  float64
end_lat                    float64
end_lng                    float64
member_casual               object

In [72]:
estacoes = pd.read_csv("dados/202110-citibike-tripdata.csv", sep=',', usecols=["start_station_name", "end_station_name"], index_col=0)

In [92]:
type(estacoes)

pandas.core.frame.DataFrame

In [88]:
nome_estacoes = estacoes.columns['estacao_inicial','estacao_final']
#nome_estacoes = estacoes.rename(columns={'start_station_name': 'estacao_inicial', 'end_station_name': 'estacao_final'})
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [87]:
nome_estacoes

                                          estacao_final
start_station_name
University Pl & E 14 St        Franklin St & W Broadway
Broadway & Roebling St                    Sands St Gate
University Pl & E 14 St        Franklin St & W Broadway
University Pl & E 14 St                 8 Ave & W 16 St
Metropolitan Ave & Meeker Ave             Sands St Gate
...                                                 ...
6 Ave & Broome St                  Grand St & Greene St
6 Ave & Broome St                  Grand St & Greene St
Carlton Ave & Park Ave          Boerum Pl\t& Pacific St
6 Ave & Broome St                      W 20 St & 10 Ave
6 Ave & Broome St                  Grand St & Greene St

[3069239 rows x 1 columns]

In [83]:
estacoes.shape

(3069239, 1)