# Criando Estrutura de Dados

### Series

In [4]:
import pandas as pd

In [10]:
data = [1,2,3,4,5,6,7,8,9]

In [11]:
s = pd.Series(data)

In [12]:
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [13]:
index = ['Linha' + str(i) for i in range(9)]

In [14]:
index

['Linha0',
 'Linha1',
 'Linha2',
 'Linha3',
 'Linha4',
 'Linha5',
 'Linha6',
 'Linha7',
 'Linha8']

In [15]:
s = pd.Series(data = data, index=index)

In [16]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
Linha5    6
Linha6    7
Linha7    8
Linha8    9
dtype: int64

In [17]:
data = {'Linha' + str(i) : i + 1 for i in  range(9)}

In [21]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
Linha5    6
Linha6    7
Linha7    8
Linha8    9
dtype: int64

In [23]:
s1 = s + 2
s1

Linha0     3
Linha1     4
Linha2     5
Linha3     6
Linha4     7
Linha5     8
Linha6     9
Linha7    10
Linha8    11
dtype: int64

In [25]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
Linha5    14
Linha6    16
Linha7    18
Linha8    20
dtype: int64

### DataFrame

In [29]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
df1 = pd.DataFrame(data = data)

In [35]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [43]:
index = ['Linha' + str(i) for i  in range(3)]

In [44]:
index

['Linha0', 'Linha1', 'Linha2']

In [45]:
df1 = pd.DataFrame(data = data, index = index)

In [46]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [48]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [49]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9