# Criando Estrutura de Dados

### Series

In [1]:
import pandas as pd

In [2]:
data = [1,2,3,4,5,6,7,8,9]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [5]:
index = ['Linha' + str(i) for i in range(9)]

In [6]:
index

['Linha0',
 'Linha1',
 'Linha2',
 'Linha3',
 'Linha4',
 'Linha5',
 'Linha6',
 'Linha7',
 'Linha8']

In [7]:
s = pd.Series(data = data, index=index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
Linha5    6
Linha6    7
Linha7    8
Linha8    9
dtype: int64

In [9]:
data = {'Linha' + str(i) : i + 1 for i in  range(9)}

In [10]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
Linha5    6
Linha6    7
Linha7    8
Linha8    9
dtype: int64

In [11]:
s1 = s + 2
s1

Linha0     3
Linha1     4
Linha2     5
Linha3     6
Linha4     7
Linha5     8
Linha6     9
Linha7    10
Linha8    11
dtype: int64

In [12]:
s2 = s + s1
s2

Linha0     4
Linha1     6
Linha2     8
Linha3    10
Linha4    12
Linha5    14
Linha6    16
Linha7    18
Linha8    20
dtype: int64

### DataFrame

In [13]:
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
df1 = pd.DataFrame(data = data)

In [15]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
index = ['Linha' + str(i) for i  in range(3)]

In [17]:
index

['Linha0', 'Linha1', 'Linha2']

In [18]:
df1 = pd.DataFrame(data = data, index = index)

In [19]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [20]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [21]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [24]:
data = {"Coluna0": {"Linha0":1, "Linha1":4, "Linha2":7},
        "Coluna1": {"Linha0":2, "Linha1":5, "Linha2":8},
        "Coluna2": {"Linha0":3, "Linha1":6, "Linha2":9}}

In [26]:
df2 = pd.DataFrame(data)

In [28]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [29]:
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]

In [30]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [31]:
df3 = pd.DataFrame(data = data, index=index, columns=columns)

In [32]:
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [34]:
df1[df1 > 0] = "A"
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [36]:
df2[df2 > 0] = "B"
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [37]:
df3[df3 > 0] = "C"
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [38]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [40]:
df5 = pd.concat([df1, df2, df3], axis=1)
df5

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C