# Relatório de Análise

### Seleções e frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("dados/aluguel_residencial.csv", sep=";")

In [4]:
dados.head()

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [5]:
selecao = dados ['Tipo'] == 'Apartamento'

In [7]:
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [14]:
n1 = dados[selecao].shape[0]
n1

19532

In [18]:
selecao = (dados["Tipo"] == "Casa") | (dados["Tipo"] == "Casa de Condomínio") | (dados["Tipo"] == "Casa de Vila ")
n2 = dados[selecao].shape[0]
n2

1963

In [19]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selecao].shape[0]
n3

8719

In [20]:
selecao = (dados["Quartos"] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selecao].shape[0]
n4

41